<!DOCTYPE html>
<html>
<head>
    <title>Estudiantes</title>
</head>
<body>
    <h1>Estudiantes</h1>
    <ul>
        <% estudiantes.forEach(estudiante => { %>
            <li><%= estudiante.nombre %> - <%= estudiante.carrera %></li>
        <% }); %>
    </ul>
</body>
</html>
